<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error_Reg Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        body {
            margin-top: 150px;
            background-color: #E6BAA3;
            font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-style: normal;
        }
    </style>
</head>

<body>
<div class="card w-75 mx-auto">
    <h1 class="shadow p-5 mb-3 bg-white text-center">
        Loan Eligibility Application
    </h1>
    <h5 class="card-header p-2 text-center" style="font-weight: bold; color: crimson;">
        Username Already Exists! Please Login
    </h5>
    <div class="card-body text-center">
        <a href="{{ url_for('login') }}" class="btn btn-dark col-4 mb-2">
            Login
        </a> </br>
    </div>
</div>
</body>

</html>